/assets/roms/*
!/assets/roms/test
/assets/gamelin.cpu.log
/assets/web/gamelin*
/assets/gamelin.config.json

*.sav
*/out/

## Java

*.class
*.war
*.ear
hs_err_pid*

.idea/
*.ipr
*.iws
*.iml
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
*/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
*/nbproject/private/

/build/
*/build/

/nbbuild/
*/nbbuild/

/dist/
*/dist/

/nbdist/
*/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting

## OS Specific
.DS_Store
Thumbs.db
