/*
 * Developed as part of the Gamelin project.
 * This file was last modified at 3/28/21, 4:50 PM.
 * Copyright 2021, see git repository at git.angm.xyz for authors and other info.
 * This file is under the GPL3 license. See LICENSE in the root directory of this repository for details.
 */

/* noinspection CssOverwrittenProperties */
#screen {
    background: #fcfeff;
    width: 640px;
    /* Gecko requires crisp-edges, Blink requires pixelated... */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.bottom-container {
    margin-top: 20px;
    text-align: center;
}
